:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}



@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


header {
    height: 0;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--cream);
    display: grid;
    grid-template-rows: 9fr 1fr;
}

img {
    object-fit: cover;
    width: 100%;
}

main {
    margin: 30px 20px 10px;
    background: var(--white);
    border-radius: 17px 17px 17px 17px;
}

main img {
    border-radius: 17px 17px 0 0;
}
article {
    margin: 30px 15px 0;
}
.subtitle {
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

h1{
    font-family: 'Fraunces';
    font-weight: 700;
    line-height: 29px;
    font-size: 30px;
    margin: 20px 0 0;
}

.description{
    font-family: 'Montserrat';
    color: var(--dark-grayish-blue);
    font-size: 13px;
    line-height: 25px;
}

.prices {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 45px 0 15px;
}

.price {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-cyan);
    display: inline-block;
    margin: 0;
}

.price-before {
    font-family: 'Monserrat';
    font-weight: 500;
    color: var(--dark-grayish-blue);
    font-size: 14px;
    margin: 0 30px;
    display: inline-block;
    text-decoration: line-through;
    line-height: 20px;
}

button {
    font-family: 'Montserrat';
    color: var(--white);
    font-size: medium;
    background: var(--dark-cyan);
    width: 100%;
    border-radius: 8px;
    height: 50px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}

button span img {
    width: 20px;
    margin-right: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

/* @media (min-width: 410px) {
    main {
        margin: 30px 50px 20px;
    }
} */

    /* @media (min-width: 501px) {
        main {
            margin: 30px 100px 20px;
        }
        
    } */

    @media (min-width: 630px) {
        
        body {
            width: 100vw;
            justify-content: center;
            grid-template-rows: 29fr 1fr;
        }
        main {
            display: grid;
            grid-template-columns: 280px 280px;
            margin: 0;
            align-self: center;
        }

        main>img {
            border-radius: 17px 0 0 17px;
            width: 320px;
        }
        article {
            margin: 0 30px 10px;
        }

        .subtitle {
            margin: 30px 0 0;
        }

        h1 {
            margin: 14px 0;
        }

        .prices {
            margin: 28px 0;
        }

        button {
            margin-bottom: 5px;
        }


    }

    @media (min-width: 750px) {
        body {
            grid-template-rows: 29fr 1fr;
        }
        
        main {
            grid-template-columns: 280px 280px;
        }

        main > img {
            width: 280px;
            border-radius: 12px 0 0 14px;
        }

        .subtitle {
            margin: 17px 0;
        }

        h1{
            margin: 24px 0;
        }


        .prices {
            margin: 22px 0;
        }



    }